*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    border: 5px solid yellow;
}

:root {
    --primary-color: #002646;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    overflow-x: hidden;
}

section {
    background-color: white;
}

h2 {
    text-transform: uppercase;
    color: black;
    font-size: clamp(1.4rem, 5vw, 2.125rem);
    font-weight: 400;

    margin-left: 0.75rem;
}

a {
    @media (any-pointer: fine) and (width > 678px) {
        transition: all 0.2s;

        &:hover {
            scale: 1.1;
            font-size: 1.1rem;
            transition: all 0.2s;
        }
    }
}



header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #242c2eda;
    backdrop-filter: blur(15px);

    animation: bg-fill linear both;
    animation-timeline: scroll();
    animation-range: 0vh 30vh;


    nav {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;

        img:first-of-type {
            width: 104px;
        }

        img:nth-of-type(2) {
            width: 24px;
            aspect-ratio: 1 / 1;

            @media (width > 678px) {
                display: none;
            }
        }

        ul {
            display: none;

            @media (width > 678px) {
                display: flex;
                align-items: center;
                gap: 1.5rem;
            }

            li {
                list-style: none;
                position: relative;
                display: flex;

                .ticketBtn {
                    padding: 1rem 2rem;
                    background-color: rgba(255, 255, 255, 0.867);
                    border-radius: 32px;

                    animation: margin-change linear both;
                    animation-timeline: scroll();
                    animation-range: 0vh 30vh;

                    &:hover {
                        background-color: white;
                        scale: 1.02;
                        font-size: 1.02rem;
                    }
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                }

                button {
                    color: white;
                    font-size: 1rem;
                    background: none;
                    border: none;
                }

                .innerList {
                    display: none;
                }

                .navArrow {
                    width: 24px;
                    aspect-ratio: 1 / 1;
                    transition: all 0.2s;
                }

                @media (any-pointer: fine) and (width > 678px) {
                    &:hover {
                        .innerList {
                            position: absolute;
                            left: 0;

                            display: flex;
                            flex-direction: column;
                            margin-top: 1.5rem;

                            background-color: #242c2ee8;
                            z-index: 2;
                            width: 10rem;

                            li {
                                justify-content: start;
                                width: 100%;
                                place-content: center;
                                transition: all 0.2s;

                                &:hover {
                                    background-color: black;
                                    padding-block: 0.5rem;
                                    transition: all 0.2s;
                                }

                                a {
                                    padding-block: 1rem;
                                    color: white;
                                    width: 100%;
                                    height: 100%;
                                    text-align: center;
                                }
                            }
                        }

                        .navArrow {
                            transform: rotate(180deg);
                            transition: all 0.2s;
                        }
                    }
                }

            }
        }
    }

}

header.open {
    animation: unset;
    animation-timeline: unset;
    animation-range: unset;
    z-index: 100;


    img:nth-of-type(1) {
        display: none;
        width: 100px;
        height: 100px;
    }

    img:nth-of-type(2) {
        grid-column: 1 / -1;
        justify-self: end;
        width: 24px;
        aspect-ratio: 1 / 1;
        margin-top: 0.6rem;
    }



    nav {
        background-color: #242c2e;

        position: absolute;
        inset: 0;
        height: 100vh;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;

        ul {
            grid-column: span 2;
            justify-self: center;
            align-self: center;
            display: block;

            li {
                margin-block: 3rem;
                list-style: none;
                text-align: left;
                font-size: 1rem;
                display: block;

                .innerList {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-top: 1rem;

                    li {
                        margin: unset;
                    }
                }

                a {
                    text-decoration: none;
                    color: white;

                }

                .ticketBtn {
                    animation: unset;
                    grid-column: 1 / 3;

                    color: black;
                }
            }
        }
    }
}

section.hero {
    padding-inline: 0.5rem;
    padding-block: 6rem 3rem;
    display: grid;
    place-content: end;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, min-content);
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.473)), url("../assets/heroimg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    @media (width > 891px) {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, max-content);
        grid-row-gap: 2rem;
        grid-column-gap: 1rem;
    }

    h1 {
        grid-column: span 4;
        font-size: 4rem;
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        line-height: 90%;

        @media (width > 891px) {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            font-size: 6rem;
            max-width: 50rem;
        }
    }

    a {
        grid-column: span 4;
        margin-block: 1rem 3rem;

        display: flex;
        justify-content: space-between;
        align-items: center;


        text-decoration: none;
        width: 191px;
        height: 55px;
        padding: 8px;
        padding-left: 22px;
        background-color: rgb(255, 255, 255);
        color: black;
        border-radius: 70px;

        @media (width > 891px) {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            align-self: flex-end;
            margin-block: unset;
        }

        @media (width > 1700px) {
            grid-column: 2 / 3;
            justify-self: start;
        }
    }

    p:nth-of-type(1) {
        grid-column: 2 / 5;
        grid-row: 3 / 4;
        text-align: end;

        @media (width > 891px) {
            grid-column: 5 / 6;
            grid-row: 2 / 3;
        }
    }

    p:nth-of-type(2) {
        grid-column: 2 / 5;
        grid-row: 4 / 5;
        text-align: end;

        @media (width > 891px) {
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }
    }

    p:nth-of-type(3) {
        grid-column: 1 / 4;
        grid-row: 5 / 6;

        @media (width > 891px) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            text-align: left;
        }
    }

    p:nth-of-type(4) {
        grid-column: 1 / 4;
        grid-row: 6 / 7;

        @media (width > 891px) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            text-align: left;
        }
    }
}

section.tentoonstelling-info {
    a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 1rem;
        padding-left: 1rem;
        max-width: max-content;

        img {
            width: 12px;
            aspect-ratio: 1 / 1;
            margin-left: 1rem;
        }
    }
}

section.tentoonstellingen {

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 45%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 0.5rem;
    scrollbar-color: var(--primary-color);

    padding-block: 2rem;

    @media (any-pointer: course) {
        scrollbar-width: none;
    }

    @media (width > 678px) {
        grid-template-rows: 1fr 1fr;
    }

    @media (width > 1321px) {
        display: block;
        scrollbar-width: none;
    }

    >div {

        grid-column: span 2;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        scroll-margin-inline: 0.5rem;

        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: 12rem min-content min-content min-content;

        margin-inline: 0.5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.103);
        height: max-content;
        overflow: hidden;

        &:nth-of-type(n + 4) {
            display: none;
        }


        @media (width > 678px) {
            grid-column: unset;

            &:nth-of-type(n + 4) {
                display: grid;
            }


            &:nth-of-type(even) {
                grid-column: span 2;
            }
        }

        @media (width > 1321px) {
            grid-template-rows: max-content min-content min-content min-content;

            &:nth-of-type(n + 2) {
                display: none;
            }
        }

        img {
            width: 100%;
            height: 12rem;
            grid-column: span 2;
            object-fit: cover;

            @media (width > 1321px) {
                height: 100%;
            }
        }

        h3 {
            font-size: clamp(1.3rem, 10vw, 2.375px);
            font-weight: 600;
            margin-block: 1rem;
            grid-column: span 2;
            margin-left: 1rem;
            max-width: 18rem;
            line-height: 1;

            @media (width > 678px) {
                max-width: 36rem;
            }
        }

        p:nth-of-type(1) {
            grid-column: span 2;
            max-width: 18rem;

            @media (width > 678px) {
                max-width: 36rem;
            }
        }

        p {
            align-self: center;
            margin-left: 1rem;
        }

        a {
            text-align: center;
            align-self: center;

            img {
                width: 16px;
                height: 14px;
                margin-right: 1rem;
                overflow: visible;
            }

        }
    }

}

section.info {
    padding: 2rem 0.5rem;

    @media (width > 678px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        grid-row-gap: 3rem;
    }

    @media (width > 992px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        padding-top: 8rem;
    }

    >div {
        position: relative;
        height: max-content;
        display: grid;
        grid-template-rows: min-content max-content 1fr;
        margin-bottom: 3rem;

        @media (width > 678px) {
            margin-top: unset;
        }

        &:nth-of-type(1) {
            grid-column: span 2;
        }

        &:nth-of-type(2) {
            @media (width > 992px) {
                transform: translateY(-5rem);
            }
        }

        h2 {
            margin-left: unset;
        }

        img {
            width: 100%;
            height: 354px;
            object-fit: cover;
        }

        p {
            max-width: 22.25rem;
            margin-block: 1rem;
        }

        a {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            z-index: 1;

            img {
                width: 43px;
                height: 43px;
            }
        }
    }
}


a.ctaLink {
    position: fixed;
    bottom: 1rem;
    left: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    text-decoration: none;
    width: max-content;
    height: 55px;
    padding: 8px;
    padding-left: 22px;
    background-color: rgb(255, 255, 255);
    color: white;
    border-radius: 70px;
    background-color: var(--primary-color);
    filter: drop-shadow(0px 0px 5px var(--primary-color));

    @media (any-pointer: fine) {
        &:hover {
            scale: 1.02;
            font-size: 1.02rem;
        }
    }
}

@keyframes bg-fill {
    to {
        padding-inline: 1rem;
        margin: 0.5rem;
        border-radius: 2rem;
        z-index: 10;
    }
}

@keyframes margin-change {
    to {
        margin-inline: -0.5rem -1rem;
    }
}